body {
  font-family: Georgia, Times, serif;
  font-size: 14px;
  line-height: 21px;
}

hr {
	border: 0;
	height: 1px;
	background: #999999;
	background-image: -webkit-linear-gradient(left, #ffffff, #999999, #ffffff);
	background-image: -moz-linear-gradient(left, #ffffff, #999999, #ffffff);
	background-image: -ms-linear-gradient(left, #ffffff, #999999, #ffffff);
	background-image: -o-linear-gradient(left, #ffffff, #999999, #ffffff);
	width: 25%;
	margin: 30px auto;
}