// Number of columns
$columns: 24;

// Gutter width
$gutter: 20px; // This needs to be an even number.

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

*:before, *:after {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Georgia, Times, serif;
	font-style: italic;
}

.wrapper {
	max-width: 1280px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: $gutter / 2;
	padding-right: $gutter / 2;
}

.row {
	margin-left: -$gutter / 2;
	margin-right: -$gutter / 2;
}

.wrapper:before,
.row:before {
	display: table;
	content: " ";
}

.wrapper:after,
.row:after {
	clear: both;
	display: table;
	content: " ";
}

.dt-1, .tl-1, .tp-1, .ml-1, .mp-1,
.dt-2, .tl-2, .tp-2, .ml-2, .mp-2,
.dt-3, .tl-3, .tp-3, .ml-3, .mp-3,
.dt-4, .tl-4, .tp-4, .ml-4, .mp-4,
.dt-5, .tl-5, .tp-5, .ml-5, .mp-5,
.dt-6, .tl-6, .tp-6, .ml-6, .mp-6,
.dt-7, .tl-7, .tp-7, .ml-7, .mp-7,
.dt-8, .tl-8, .tp-8, .ml-8, .mp-8,
.dt-9, .tl-9, .tp-9, .ml-9, .mp-9,
.dt-10, .tl-10, .tp-10, .ml-10, .mp-10,
.dt-11, .tl-11, .tp-11, .ml-11, .mp-11,
.dt-12, .tl-12, .tp-12, .ml-12, .mp-12,
.dt-13, .tl-13, .tp-13, .ml-13, .mp-13,
.dt-14, .tl-14, .tp-14, .ml-14, .mp-14,
.dt-15, .tl-15, .tp-15, .ml-15, .mp-15,
.dt-16, .tl-16, .tp-16, .ml-16, .mp-16,
.dt-17, .tl-17, .tp-17, .ml-17, .mp-17,
.dt-18, .tl-18, .tp-18, .ml-18, .mp-18,
.dt-19, .tl-19, .tp-19, .ml-19, .mp-19,
.dt-20, .tl-20, .tp-20, .ml-20, .mp-20,
.dt-21, .tl-21, .tp-21, .ml-21, .mp-21,
.dt-22, .tl-22, .tp-22, .ml-22, .mp-22,
.dt-23, .tl-23, .tp-23, .ml-23, .mp-23,
.dt-24, .tl-24, .tp-24, .ml-24, .mp-24
{
	float: left;
	padding-left: $gutter / 2;
	padding-right: $gutter / 2;
	min-height: 1px;
}

.dt-1 {
	width: (100% / $columns) * 1;
}

.dt-2 {
	width: (100% / $columns) * 2;
}

.dt-3 {
	width: (100% / $columns) * 3;
}

.dt-4 {
	width: (100% / $columns) * 4;
}

.dt-5 {
	width: (100% / $columns) * 5;
}

.dt-6 {
	width: (100% / $columns) * 6;
}

.dt-7 {
	width: (100% / $columns) * 7;
}

.dt-8 {
	width: (100% / $columns) * 8;
}

.dt-9 {
	width: (100% / $columns) * 9;
}

.dt-10 {
	width: (100% / $columns) * 10;
}

.dt-11 {
	width: (100% / $columns) * 11;
}

.dt-12 {
	width: (100% / $columns) * 12;
}

.dt-13 {
	width: (100% / $columns) * 13;
}

.dt-14 {
	width: (100% / $columns) * 14;
}

.dt-15 {
	width: (100% / $columns) * 15;
}

.dt-16 {
	width: (100% / $columns) * 16;
}
	
.dt-17 {
	width: (100% / $columns) * 17;
}

.dt-18 {
	width: (100% / $columns) * 18;
}

.dt-19 {
	width: (100% / $columns) * 19;
}

.dt-20 {
	width: (100% / $columns) * 20;
}

.dt-21 {
	width: (100% / $columns) * 21;
}

.dt-22 {
	width: (100% / $columns) * 22;
}

.dt-23 {
	width: (100% / $columns) * 23;
}

.dt-24 {
	width: (100% / $columns) * 24;
}

@media (max-width: 1280px) {
	.wrapper {
		max-width: 1170px;
	}
}

@media (max-width: 1170px) {
	.wrapper {
		max-width: 960px;
	}
}

@media (max-width : 1024px) {
	.wrapper {
		max-width: 1024px;
	}

	.dt-1,
	.dt-2,
	.dt-3,
	.dt-4,
	.dt-5,
	.dt-6,
	.dt-7,
	.dt-8,
	.dt-9,
	.dt-10,
	.dt-11,
	.dt-12,
	.dt-13,
	.dt-14,
	.dt-15,
	.dt-16,
	.dt-17,
	.dt-18,
	.dt-19,
	.dt-20,
	.dt-21,
	.dt-22,
	.dt-23,
	.dt-24, {
		width: 100%;
	}
	
	.tl-1 {
		width: (100% / $columns) * 1;
	}
	
	.tl-2 {
		width: (100% / $columns) * 2;
	}
	
	.tl-3 {
		width: (100% / $columns) * 3;
	}
	
	.tl-4 {
		width: (100% / $columns) * 4;
	}
	
	.tl-5 {
		width: (100% / $columns) * 5;
	}
	
	.tl-6 {
		width: (100% / $columns) * 6;
	}
	
	.tl-7 {
		width: (100% / $columns) * 7;
	}
	
	.tl-8 {
		width: (100% / $columns) * 8;
	}
	
	.tl-9 {
		width: (100% / $columns) * 9;
	}
	
	.tl-10 {
		width: (100% / $columns) * 10;
	}
	
	.tl-11 {
		width: (100% / $columns) * 11;
	}
	
	.tl-12 {
		width: (100% / $columns) * 12;
	}
	
	.tl-13 {
		width: (100% / $columns) * 13;
	}
	
	.tl-14 {
		width: (100% / $columns) * 14;
	}
	
	.tl-15 {
		width: (100% / $columns) * 15;
	}
	
	.tl-16 {
		width: (100% / $columns) * 16;
	}
	
	.tl-17 {
		width: (100% / $columns) * 17;
	}
	
	.tl-18 {
		width: (100% / $columns) * 18;
	}
	
	.tl-19 {
		width: (100% / $columns) * 19;
	}
	
	.tl-20 {
		width: (100% / $columns) * 20;
	}
	
	.tl-21 {
		width: (100% / $columns) * 21;
	}
	
	.tl-22 {
		width: (100% / $columns) * 22;
	}
	
	.tl-23 {
		width: (100% / $columns) * 23;
	}
	
	.tl-24 {
		width: (100% / $columns) * 24;
	}
}

@media (max-width: 768px) {
	.tl-1,
	.tl-2,
	.tl-3,
	.tl-4,
	.tl-5,
	.tl-6,
	.tl-7,
	.tl-8,
	.tl-9,
	.tl-10,
	.tl-11,
	.tl-12,
	.tl-13,
	.tl-14,
	.tl-15,
	.tl-16,
	.tl-17,
	.tl-18,
	.tl-19,
	.tl-20,
	.tl-21,
	.tl-22,
	.tl-23,
	.tl-24, {
		width: 100%;
	}
	
	.tp-1 {
		width: (100% / $columns) * 1;
	}
	
	.tp-2 {
		width: (100% / $columns) * 2;
	}
	
	.tp-3 {
		width: (100% / $columns) * 3;
	}
	
	.tp-4 {
		width: (100% / $columns) * 4;
	}
	
	.tp-5 {
		width: (100% / $columns) * 5;
	}
	
	.tp-6 {
		width: (100% / $columns) * 6;
	}
	
	.tp-7 {
		width: (100% / $columns) * 7;
	}
	
	.tp-8 {
		width: (100% / $columns) * 8;
	}
	
	.tp-9 {
		width: (100% / $columns) * 9;
	}
	
	.tp-10 {
		width: (100% / $columns) * 10;
	}
	
	.tp-11 {
		width: (100% / $columns) * 11;
	}
	
	.tp-12 {
		width: (100% / $columns) * 12;
	}
	
	.tp-13 {
		width: (100% / $columns) * 13;
	}
	
	.tp-14 {
		width: (100% / $columns) * 14;
	}
	
	.tp-15 {
		width: (100% / $columns) * 15;
	}
	
	.tp-16 {
		width: (100% / $columns) * 16;
	}
	
	.tp-17 {
		width: (100% / $columns) * 17;
	}
	
	.tp-18 {
		width: (100% / $columns) * 18;
	}
	
	.tp-19 {
		width: (100% / $columns) * 19;
	}
	
	.tp-20 {
		width: (100% / $columns) * 20;
	}
	
	.tp-21 {
		width: (100% / $columns) * 21;
	}
	
	.tp-22 {
		width: (100% / $columns) * 22;
	}
	
	.tp-23 {
		width: (100% / $columns) * 23;
	}
	
	.tp-24 {
		width: (100% / $columns) * 24;
	}
}

@media (max-width: 568px) {
	.tp-1,
	.tp-2,
	.tp-3,
	.tp-4,
	.tp-5,
	.tp-6,
	.tp-7,
	.tp-8,
	.tp-9,
	.tp-10,
	.tp-11,
	.tp-12,
	.tp-13,
	.tp-14,
	.tp-15,
	.tp-16,
	.tp-17,
	.tp-18,
	.tp-19,
	.tp-20,
	.tp-21,
	.tp-22,
	.tp-23,
	.tp-24, {
		width: 100%;
	}
	
	.ml-1 {
		width: (100% / $columns) * 1;
	}
	
	.ml-2 {
		width: (100% / $columns) * 2;
	}
	
	.ml-3 {
		width: (100% / $columns) * 3;
	}
	
	.ml-4 {
		width: (100% / $columns) * 4;
	}
	
	.ml-5 {
		width: (100% / $columns) * 5;
	}
	
	.ml-6 {
		width: (100% / $columns) * 6;
	}
	
	.ml-7 {
		width: (100% / $columns) * 7;
	}
	
	.ml-8 {
		width: (100% / $columns) * 8;
	}
	
	.ml-9 {
		width: (100% / $columns) * 9;
	}
	
	.ml-10 {
		width: (100% / $columns) * 10;
	}
	
	.ml-11 {
		width: (100% / $columns) * 11;
	}
	
	.ml-12 {
		width: (100% / $columns) * 12;
	}
	
	.ml-13 {
		width: (100% / $columns) * 13;
	}
	
	.ml-14 {
		width: (100% / $columns) * 14;
	}
	
	.ml-15 {
		width: (100% / $columns) * 15;
	}
	
	.ml-16 {
		width: (100% / $columns) * 16;
	}
	
	.ml-17 {
		width: (100% / $columns) * 17;
	}
	
	.ml-18 {
		width: (100% / $columns) * 18;
	}
	
	.ml-19 {
		width: (100% / $columns) * 19;
	}
	
	.ml-20 {
		width: (100% / $columns) * 20;
	}
	
	.ml-21 {
		width: (100% / $columns) * 21;
	}
	
	.ml-22 {
		width: (100% / $columns) * 22;
	}
	
	.ml-23 {
		width: (100% / $columns) * 23;
	}
	
	.ml-24 {
		width: (100% / $columns) * 24;
	}
}

@media (max-width: 320px) {
	.ml-1,
	.ml-2,
	.ml-3,
	.ml-4,
	.ml-5,
	.ml-6,
	.ml-7,
	.ml-8,
	.ml-9,
	.ml-10,
	.ml-11,
	.ml-12,
	.ml-13,
	.ml-14,
	.ml-15,
	.ml-16,
	.ml-17,
	.ml-18,
	.ml-19,
	.ml-20,
	.ml-21,
	.ml-22,
	.ml-23,
	.ml-24, {
		width: 100%;
	}
	
	.mp-1 {
		width: (100% / $columns) * 1;
	}
	
	.mp-2 {
		width: (100% / $columns) * 2;
	}
	
	.mp-3 {
		width: (100% / $columns) * 3;
	}
	
	.mp-4 {
		width: (100% / $columns) * 4;
	}
	
	.mp-5 {
		width: (100% / $columns) * 5;
	}
	
	.mp-6 {
		width: (100% / $columns) * 6;
	}
	
	.mp-7 {
		width: (100% / $columns) * 7;
	}
	
	.mp-8 {
		width: (100% / $columns) * 8;
	}
	
	.mp-9 {
		width: (100% / $columns) * 9;
	}
	
	.mp-10 {
		width: (100% / $columns) * 10;
	}
	
	.mp-11 {
		width: (100% / $columns) * 11;
	}
	
	.mp-12 {
		width: (100% / $columns) * 12;
	}
	
	.mp-13 {
		width: (100% / $columns) * 13;
	}
	
	.mp-14 {
		width: (100% / $columns) * 14;
	}
	
	.mp-15 {
		width: (100% / $columns) * 15;
	}
	
	.mp-16 {
		width: (100% / $columns) * 16;
	}
	
	.mp-17 {
		width: (100% / $columns) * 17;
	}
	
	.mp-18 {
		width: (100% / $columns) * 18;
	}
	
	.mp-19 {
		width: (100% / $columns) * 19;
	}
	
	.mp-20 {
		width: (100% / $columns) * 20;
	}
	
	.mp-21 {
		width: (100% / $columns) * 21;
	}
	
	.mp-22 {
		width: (100% / $columns) * 22;
	}
	
	.mp-23 {
		width: (100% / $columns) * 23;
	}
	
	.mp-24 {
		width: (100% / $columns) * 24;
	}
}

// Hide columns
@media (max-width: 567px) {
	.mp-hide {
		display: none !important;
	}
}

@media (min-width: 568px) and (max-width: 767px) {
	.ml-hide {
		display: none !important;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.tp-hide {
		display: none !important;
	}
}

@media (max-width: 1024px) {
	.tl-hide {
		display: none !important;
	}
}

@media (min-width: 1025px) {
	.dt-hide {
		display: none !important;
	}
}